html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app__top > h1 {
  text-align: center;
  color: white;
  font-weight: 500;
  
}
.app__logo {
  height: 12vh;
}
.app__top {
  margin-bottom: -50px;
}
.app__videos {
  position: relative;
  height: 70vh;
  background-color: white;
  width: 60%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1400px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.app__videos::-webkit-scrollbar {
  display: none;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
